
html{
  background-image: url(background.jpg);
  font-family:"Arial";
  padding-top: 5%;
  padding-bottom: 5%;
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

a{color:#8b3e2f;}
a:hover{color: orange;}

.header_image{
  margin-bottom: 3%; 
  margin-left: auto; 
  margin-right: auto;
  display: block;
  text-align: center;
  min-width: 312px;
  max-width: 1012px;
  width:80%;
  /*background-color: white;*/
  padding: 3%;
  padding-top:0;
  /*box-shadow: 0 0 10px 2px #000000; */
}

header p{display:none;}

header{min-width:900px;}

footer{
  color: white;
  text-align: center;
  margin-top: 0;
  min-width: 900px;
  text-shadow: 0 0 2px #000000;
}

footer a{color:white;}

.sidebar div {
  box-shadow: 0 0 10px 2px #000000; 
  padding:3%;
  margin-bottom: 10%;
  background-color: white;
}

.sidebar p{text-align: center;}
.sidebar h3{text-align:center;}

.content{
  margin:auto;
  width:auto;
  padding: 3%;
  min-width: 900px;
  max-width: 900px;
  padding-bottom:1%;
}

.sidebar{
  float: right;
  width: 25%; 
}

.main{
  width:65%;
  padding: 3%;
  background-color: white;
  box-shadow: 0 0 10px 2px #000000; 
  margin-bottom: 3%
}

.images{
  width:100%;
}

.image{
  max-width: 49%;
  max-height: 49%;
}

.youtube{
  max-width:640px; 
  width:100%;
}

code{
  padding-left: 3%; 
  display: block;
  word-wrap: break-word;
}
