html{
	background-image: url("background.jpg");
	font-family:"Arial";
  	padding-top: 5%;
  	padding-bottom: 5%;
 	background-attachment:fixed;
 	background-size: cover;
    background-repeat: no-repeat;
}